                   <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>人员初始化</title>
</head>
<body>
<div id="content-first">
    <!--tab页切换开始-->
    <!--<div id="tab">
        <a ui-sref="index.personnelManagement.staffsuperviseIT.staffsuperviseITCheck" ng-class="{'this_action':btnIndex==2}" ng-click="doClick(2)">员工查询</a>
        <a lang="no" style="cursor: pointer" ng-class="{'this_action':btnIndex==1}"> &lt;!&ndash;ng-click="doClick(1) ui-sref="index.personnelManagement.staffsuperviseIT.staffsuperviseITAdd""&ndash;&gt;新建员工</a>
    </div>-->
    <!--tab页切换结束-->
    <!--视图加载-->
    <div ui-view></div>

    <!--视图加载开始-->
</div>
</body>
</html>