.personal{height:130px;border: 1px solid lightgrey;padding-top:18px;}
.imgIcon{width:30px;height:25px;}
.imgDrill{width:20px;height:20px;}
.imgP{float: left;margin-left:-12px;}
.imgInfo{float: left;margin-left:8px;}