<!--
    页面名称：放行条
    前端负责人：NM
-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>放行条</title>
</head>
<body>
<div class="padding_info">
    <div id="content-first">
        <!--tab页切换开始-->
        <div id="tab">
            <a ng-class="{'this_action':btnIndex==1}" ng-click="doClick(1)" ui-sref="index.propertyService.staffHome.releasePass.historicRecords">历史记录</a>
            <a ng-class="{'this_action':btnIndex==2}" ng-click="doClick(2)" lang="no" ui-sref="index.propertyService.staffHome.releasePass.addReleasePass">新建放行条</a>
        </div>
        <!--导航 end-->
        <!--模板-->

            <div ui-view></div>

        <!--模板 end-->
        </div>
    </div>
</body>
</html>