<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div  class="complaint_user row" style="margin: 15px auto;width: 95%">


    <div class="col-lg-4 col-md-4 col-sm-6"style="cursor:pointer;">
        <div class="program_panel">
            <div class="program_panel_people_title">
                        <span class="panel_title_left" ng-switch on="maintain.taskType">
                            <span ng-switch-when="0">园林</span>
                            <span ng-switch-when="1">维修</span>
                            <span ng-switch-when="2">护管</span>
                            <span ng-switch-when="3">部门质检</span>
                            <span ng-switch-when="4">装修巡检</span>
                            <span ng-switch-when="5">装修验收</span>
                            <span ng-switch-when="6">施工巡检</span>
                            <span ng-switch-when="7">施工核查</span>
                            <span ng-switch-when="8">施工验收</span>
                            <span ng-switch-when="9">赔偿给业</span>
                            <span ng-switch-when="10">向业主索赔</span>
                            <span ng-switch-when="11">清洁</span>
                            <span ng-switch-when="12">回访</span>
                            <span ng-switch-when="13">咨询</span>
                        </span>
                        <span class="panel_title_right">
                            <span class="complaint1_panel_info_navigation">
                                <ul>
                                    <li><a href="#" class="dropdown-toggle btn-lg" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                                        <ul>
                                            <li class="program_panel_info_navigation_top">接受</li>
                                            <li data-toggle="modal" data-target="#free" style="cursor:pointer"  ng-click="GetTasks(maintain.taskId)">转出</li>
                                            <li>延时</li>
                                            <li>重启</li>
                                            <li>提交</li>
                                            <li>关闭</li>
                                            <li>合并</li>
                                            <li  data-toggle="modal" data-target="#turn" style="cursor:pointer"ng-click="GetTasks(maintain.taskId)">转专项</li>
                                            <li class="program_panel_info_navigation_bottom" data-toggle="modal" data-target="#concentrated" style="cursor:pointer"ng-click="GetTasks(maintain.taskId)">集中处理</li>
                                            <li><a href="#" ui-sref="index.externalProfession.serviceRequestDatil.maintain">查看</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                        </span>
            </div>
            <div  ng-click="taskDetailsId(maintain.taskId)">
                <div style="margin-left:10px;">
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-md-6">
                            <span>任务来源：{{maintain.serviceRequest.requestSource}}</span>
                        </div>
                        <div class="col-md-6">
                            <p ng-switch on="maintain.taskType">任务状态:
                                        <span ng-model="maintain.taskState">
                                        <span ng-switch-when="0">关闭</span>
                                        <span ng-switch-when="1">重启</span>
                                        <span ng-switch-when="2">已完</span>
                                        <span ng-switch-when="3">已接</span>
                                        <span ng-switch-when="4">未接</span>
                                        <span ng-switch-when="5">转出</span>
                                        <span ng-switch-when="6">提交完成</span>
                                        <span ng-switch-when="7">处理</span>
                                        <span ng-switch-when="8">合并</span>
                                        <span ng-switch-when="9">转专项</span>
                                        <span ng-switch-when="10">转集中处理</span>
                                        </span>
                            </p>
                        </div>
                        <!--<div class="col-md-6">-->
                        <!--<p>催办次数:{{maintain.remindNumber}}</p>-->
                        <!--</div>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p ng-switch on="maintain.taskType">任务类型:
                                <span ng-switch-when="0">园林</span>
                                <span ng-switch-when="1">维修</span>
                                <span ng-switch-when="2">护管</span>
                                <span ng-switch-when="3">部门质检</span>
                                <span ng-switch-when="4">装修巡检</span>
                                <span ng-switch-when="5">装修验收</span>
                                <span ng-switch-when="6">施工巡检</span>
                                <span ng-switch-when="7">施工核查</span>
                                <span ng-switch-when="8">施工验收</span>
                                <span ng-switch-when="9">赔偿给业</span>
                                <span ng-switch-when="10">向业主索</span>
                                <span ng-switch-when="11">清洁</span>
                                <span ng-switch-when="12">回访</span>
                                <span ng-switch-when="13">咨询</span>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p ng-switch on="maintain.professional">专业：
                                <span ng-switch-when="0">电灯</span>
                                <span ng-switch-when="1">网络</span>
                                <span ng-switch-when="2">下水道</span>
                                <span ng-switch-when="3">空调</span>
                                <span ng-switch-when="4">煤气</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>产品：{{maintain.product}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>负责人：{{maintain.principal}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p>创建时间：{{maintain.createTime}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p>预计完成时间：{{maintain.estimatedTime|date:'yyyy-mm-dd HH:mm:ss'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p>实际完成时间：{{maintain.finishTime}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <p>备注：{{maintain.remarks}}</p>
                        </div>
                    </div>
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>项目：{{maintain.project}}</td>-->
                    <!--<td>区：{{maintain.buildingStructureNew.fullName}}</td>-->
                    <!--<td>楼座：{{maintain.buildingStructureNew.nodeName}}</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                    <!--<td>单元：{{maintain.unit}}</td>-->
                    <!--<td>房号：{{maintain.buildingStructureNew.nodeName}}</td>-->
                    <!--<td></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td ng-switch on="maintain.taskType">请求类型：-->
                    <!--<span ng-switch-when="0">园林</span>-->
                    <!--<span ng-switch-when="1">维修</span>-->
                    <!--<span ng-switch-when="2">护管</span>-->
                    <!--<span ng-switch-when="3">部门质检</span>-->
                    <!--<span ng-switch-when="4">装修巡检</span>-->
                    <!--<span ng-switch-when="5">装修验收</span>-->
                    <!--<span ng-switch-when="6">施工巡检</span>-->
                    <!--<span ng-switch-when="7">施工核查</span>-->
                    <!--<span ng-switch-when="8">施工验收</span>-->
                    <!--<span ng-switch-when="9">赔偿给业主</span>-->
                    <!--<span ng-switch-when="10">向业主索赔</span>-->
                    <!--<span ng-switch-when="11">清洁</span>-->
                    <!--<span ng-switch-when="12">回访</span>-->
                    <!--<span ng-switch-when="13">咨询</span>-->
                    <!--</td>-->
                    <!--<td>分类：{{maintain.classification}}</td>-->
                    <!--<td  ng-switch on="maintain.professional">专业：<span ng-switch-when="0">电灯</span>-->
                    <!--<span ng-switch-when="1">网络</span>-->
                    <!--<span ng-switch-when="2">下水道</span>-->
                    <!--<span ng-switch-when="3">空调</span>-->
                    <!--<span ng-switch-when="4">煤气</span></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>是否回访：{{maintain.isVisit}}</td>-->
                    <!--<td>回访电话:{{maintain.personCustNew.phoneNum}}</td>-->
                    <!--<td></td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                    <!--<td>优先级：{{maintain.priority}}</td>-->
                    <!--<td>是否公共区域：{{maintain.isPublicArea}}</td>-->
                    <!--</tr>-->

                    <!--<tr>-->
                    <!--<td ng-model="maintain.staff.staffId">负责人工号：{{}}</td>-->
                    <!--<td>负责人：{{maintain.principal}}</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                    <!--<td>处理人工号：{{maintain.staff.staffId}}</td>-->
                    <!--<td ng-model="maintain.staff.staffName">处理人：{{maintain.staff.staffName}}</td>-->
                    <!--</tr>-->
                    <!--</table>-->
                </div>
            </div>
        </div>
    </div>

            <div class="clear"></div>

        <div class="modal fade" id="free" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            转出
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div  col-md-4>
                                <div><label>转出原因:</label></div>
                                <label><textarea class="form-control" style="width:500px" cols="3" placeholder="请输入内容"></textarea></label>
                            </div>
                            <div  col-md-4>
                                <div><label>备注:</label></div>
                                <label><textarea class="form-control" style="width:500px" cols="3" placeholder="请输入内容"></textarea></label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" ng-click="UpdateTasks()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="modal fade" id="turn" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            转专项
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <table>
                                <tr>
                                    <!--<td>当前任务状态:</td>-->
                                    <!--<td><label><input type="text" ng-model="maintain.taskState"></label></td>-->
                                    <td>转专项:</td>
                                    <td><label><select><option>园林专项</option><option>清洁专项</option><option>维修专项</option></select></label></td>
                                </tr>
                            </table>
                            <div  col-md-4>
                                <div><label>备注:</label></div>
                                <label><textarea class="form-control" style="width:500px" cols="3" placeholder="请输入内容"></textarea></label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal"  ng-click="UpdateTasks()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <div class="modal fade" id="concentrated" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            集中处理
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <table>
                                <tr>
                                    <!--<td>当前任务状态:</td>-->
                                    <!--<td><label><input type="text"></label></td>-->
                                    <td>集中处理:</td>
                                    <td><label><select><option>园林集中</option><option>清洁集中</option><option>维修集中</option></select></label></td>
                                </tr>
                            </table>
                            <div  col-md-4>
                                <div><label>备注:</label></div>
                                <label><textarea class="form-control" style="width:500px" cols="3" placeholder="请输入内容"></textarea></label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal"  ng-click="UpdateTasks()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
</div>

</body>
</html>